body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    background-image: url("imagenes/Fondo.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contenedor-login{
    background-color: rgba(255,255,255,0.88);
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    width: 100%;
    max-width: 30rem;
}

.contenedor-login img {
    display: block;
    margin: auto;
}

.contenedor-login hr{
    margin: 30px 0;
}

.contenedor-login h2{
    font-weight: normal;
    color: #565656;
    font-size: 12pt;
    margin-bottom: 10px;
}
.contenedor-login p{
    color: #565656;
}
.contenedor-login input{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #c4c4c4;
}
a{
    text-decoration: none;
}
.link-1{
    display: block;
    color: #04adb7;
    font-size: 9pt;
    margin-bottom: 10px;
}
.link-1:hover{
    color: #4e5357;
    text-decoration:underline;
}

.link-2{
    color: white;
}
.link-2:hover{
    color: #fd7e14;
    text-decoration:underline;
}

.boton{
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.boton-1{
    color: #04adb7;
    border: 1px solid #04adb7;
    display:block;
    text-align: center;
}

.boton-1:hover{
    color: white;
    background-color: #04adb7;
}
.boton-2{
    color: white;
    background-color: #4e5357;
    border: 1px solid #303335;
}
.boton-2:hover{
    background-color: #303335;
    border-color: #4e5357;
}

footer {
    background-color: #4e5357;
    color: white;
    padding: 50px;
}

footer .logo-footer{
    display: block;
    margin: 0 auto;
}

footer section:nth-child(2){
    margin-top: 10px;
    display: flex;
    align-items: center;
}

footer section:nth-child(2)>div{
    flex: 1;
}

footer section:nth-child(2) .redes-sociales{
    display: flex;
    align-items: center;
}
footer section:nth-child(2) .redes-sociales h4{
    font-weight: 500;
    margin: 0;
}

footer section:nth-child(2) .redes-sociales ul{
    padding-left: 0;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
footer section:nth-child(2) .redes-sociales ul a{
    padding: 0 5px;
}
footer section:nth-child(2) .redes-sociales ul a img{
    height: 15px;
}

footer section:nth-child(2) .notificaciones-judiciales{
    font-size: 8pt;
}
footer section:nth-child(2) .notificaciones-judiciales p{
    margin: 0;
}
footer section:nth-child(2) .notificaciones-judiciales a{
    word-wrap: break-word;
}

footer section:nth-child(2) .boton-whatsapp {
    color: white;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #25D366;
    border-radius: 30px;
    transition: all 0.4s ease-in-out;
    justify-content: center;
    max-width: 160px;
    margin-top: 10px;
}

footer section:nth-child(2) .boton-whatsapp:hover {
    background-color: #25D366;
}

footer section:nth-child(2) .boton-whatsapp span {
    margin-left: 10px;
    text-align: center;
    font-size: 8pt;
}

footer section:nth-child(2) .sedes{
    display: flex;
}

footer section:nth-child(2) .sedes>div{
    flex: 1;
    padding: 5px;
}

footer section:nth-child(2) .sedes{
    font-size: 8pt;
}

footer section:nth-child(2) .sedes h4{
    font-size: 10pt;
    font-weight:500;
    margin-top: 0;
}

footer section:nth-child(3) {
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
footer section:nth-child(3) h6 {
    font-weight: 500;
    font-size: 14px;
    margin: 0;
}
footer section:nth-child(3) a {
    margin-left: 10px;
}

@media only screen and (max-width: 767px) {
    footer section:nth-child(2) {
        flex-direction: column;
    }
    footer section:nth-child(2) .sedes{
        margin-top: 20px;
    }

    footer section:nth-child(3){
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    footer section:nth-child(3) a {
        margin-left: 0;
        margin-top: 5px;
    }
}